@font-face {
    font-family: 'RobotoRegular';
    src: url('/fonts/roboto_regular.ttf');
}

@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('/fonts/roboto_condensed_bold.ttf')
}

.no-drag {
    user-drag: none;
    -webkit-user-drag: none;
}

.no-select {
    user-select: none;
}